.currentWeather {
    text-align: center;
    height: fit-content;
    margin: 1% !important;
}
/* .results {
    margin-top: 5%;
} */


.currentWeather__city sup {
    padding: 0.2em 0.4em;
    margin-left: 0.2em !important;
    border-radius: 30px;
    background-color: rgba(250, 250, 250, 0.507);
}
.currentWeather__temp {
    font-size: 7rem;
    font-weight: 100;
}
h1 sup {
    top: -2.5em !important;
    font-weight: 300;
}

.currentWeather__moreInfo {
    background-color: rgba(250, 250, 250, 0.3);
    box-shadow: 1px 0px 10px rgb(251, 252, 253);
    border-radius: 30px;
    padding: 0.6em 0.5em;
    margin-bottom: 16px;
    /* width: 50%; */
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}
@media screen and (max-width: 425px) {
    .currentWeather__moreInfo {
        flex-direction: column;
        justify-content: center;
    }
}
.info {
    margin-top: -40px;
    padding: 2px;
}
.currentWeather__moreInfo div {
    padding: 0.5em;
}