/** @format */

.search {
    width: 60%;
    padding: 0.5em;
}
.result {
    text-align: center;
}
.formControl {
    padding: 1.5em;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .search {
        width: 100%;
    }
}
.appName {
    text-align: center;
}

.loading {
    font-size: 2.5em;
    margin-top: 2%;
    text-align: center;
}

.forecastWrapper {
    flex-basis: 100%;
    margin: 5px auto;
    overflow: hidden;
    /* background-color: rgba(250, 250, 250, 0.3);
    box-shadow: 1px 0px 10px rgb(251, 252, 253);
    border-radius: 30px;
    padding: 0.6em 0.5em; */
    /* margin-top: 2.5%; */
    /* height: 50px; */
    /* width: 50%; */
}
.forecast {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: lightgray #ffffff;
    scrollbar-width: thin;
    margin-top: 10px;
    padding-bottom: 10px;
}
@media screen and (min-width: 1024px) {
    .forcast {
        order: 4;
    }
}
