/** @format */

.forecastWrapper {
    flex-shrink: 0;
    flex-basis: 90px;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
    .forecastWrapper {
        flex-basis: 110px;
    }
}
@media (min-width: 1024px) {
    .forecastWrapper {
        flex-basis: 125px;
    }
}
@media (min-width: 1440px) {
    .forecastWrapper {
        flex-basis: 140px;
    }
}
.forecastWrapper:first-child {
    margin-left: 0;
}
.forecastWrapper:last-child {
    margin-right: 0;
}

.weatherIcon{
    display: block;
    height: 45px;
    width: 45px;
    margin: 0 auto;
}